h1 {
  font-family: "Montserrat";
}

h1,
h2 {
  display: flex;
  align-items: baseline;
  margin: 0;
  margin-right: 40vw;
}

.job {
  font-size: 3rem;
}

.hunt {
  font-size: 2rem;
}

a {
  font-size: larger;
  color: #fabada;
  text-decoration: none;
  transition: color 1500ms ease;
}

a:hover {
  color: brown;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  border-bottom: 1px solid #ccc;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
