<div class="header">
  <button (click)="signIn()" (keypress.enter)="signIn()" i18n>
    Inicia sesión con
    <img src="assets/Logo-min.png" alt="InfoJobs" />
  </button>
</div>
<section>
  <h1><span class="job">Job</span><span class="hunt">Hunt</span></h1>
  <span class="separator"></span>
  <div>
    <h2>
      <span i18n>"Caza" tu próximo empleo</span>
      <span i18n>observando visualmente tu progreso</span>
    </h2>
    <h2>
      <span i18n
        >Herramienta creada por
        <a href="https://github.com/kumibrr">@kumibrr</a></span
      ><span i18n>para la hackaton de midudev e InfoJobs</span>
    </h2>
  </div>
</section>
