section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  font-size: x-large;
}

form .formStep {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form .formStep * {
  margin: 1vh;
}

strong {
  margin: 0 !important;
  color: brown;
}

.formStep {
  transition: all 1s;
}

button {
  padding: 5px;
  border-radius: 2px;
  font-size: large;
}
